@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white;
    @apply dark:text-white text-black;
  }
  h1 {
    @apply text-2xl font-bold py-2;
  }

  h2 {
    @apply text-lg font-bold;
  }

  p {
    @apply text-base;
  }
}

@layer utilities {
  .container {
    @apply grid items-ceter justify-center;
  }
}
